@import '../../../app/styles/variables';

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-xxxl 0;
}

.title {
  font-size: $font-size-title;
  color: $primary-color;
  margin-bottom: $spacing-xl;
  text-align: center;
}

.text {
  font-size: $font-size-lg;
  color: $text-secondary;
  text-align: center;
}